<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345002398529-8oojbue7f9js9n26q52uevqcfc4q2uuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345002398529-8oojbue7f9js9n26q52uevqcfc4q2uuj</string>
	<key>API_KEY</key>
	<string>AIzaSyD2EQhv_UsIXd051CxB8JY8ZfLLm8TARrs</string>
	<key>GCM_SENDER_ID</key>
	<string>345002398529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrzejcybulski.sklepZeHoHo</string>
	<key>PROJECT_ID</key>
	<string>sklep-ze-ho-ho</string>
	<key>STORAGE_BUCKET</key>
	<string>sklep-ze-ho-ho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345002398529:ios:92758b9d1220fdf36f07c0</string>
</dict>
</plist>